.animateme{
    animation: large 1s forwards 0s 1  ease-in;
}

@keyframes large {
    0%{
        height: 0px;
    }
    100%{
        height: 400px;
    }
}

  
  /* Headings */
  .markdown h1 {
    color: #fff; /* white */
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .markdown h2 {
    color: #ccc; /* light gray */
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .markdown h3 {
    color: #666; /* dark gray */
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Paragraphs */
  .markdown p {
    color: #ccc; /* light gray */
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Lists */
  .markdown ul {
    list-style: disc;
    margin-bottom: 10px;
  }
  
  .markdown li {
    color: #ccc; /* light gray */
    font-size: 14px;
    margin-bottom: 5px;
  }
  